@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    width: 100w;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100%;
    transition: 500ms;
    animation: 3s ease-out 0s 1 slideLeft;
    overflow: hidden;
}

body:has(.welcome:hover) {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

body:has(.bio:hover) {
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
}

body:has(.work:hover) {
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
}

body:has(.contact:hover) {
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
}


@keyframes slideLeft {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0)
    }
}


.welcome, .bio, .work, .contact {
    border: black solid;
    border-right: none;
}

.welcome-header, .bio-header, .work-header, .contact-header {
    margin-top: 19.25em;
}

.welcome {
    background-color: #69A6D1;
    text-align: center;
}

.pp{
    width: 18.75em;
    height: 18.75em;
    margin-top: 10%;
}

.welcome-header {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 10%; 
}

.welcome-text {
    font-family: 'Rubik', sans-serif;
    margin-top: 5%;
    font-size: 20pt;
    font-weight: 200;
}

.bio {
    background-color: #BF6C95;
    top: 100vh;
    z-index: 0;
    text-align: center;
}

.see-more {
    background-color: #A1EAF2;
    height: 2.75em;
    width: 11.875em;
    border-radius: 12pt;
    font-size: 16pt;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0ms;
    user-select: none;
    margin-top: 5em;
}

.see-more:hover {
    background-color: #7EB7BD;
    box-shadow: 0px 0px 20px -18px;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    opacity: 0;
}

.bio-header {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

.flowimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    animation: 10s ease-out flowUp;
    z-index: -1;
    animation-iteration-count: infinite;
    align-items: center;
    justify-items: center;
}

.image-container:hover {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -webkit-transition: opacity 0.1s ease-in-out;
}


.flowimage {
    height: 4.357em;
    width: 4.357em;
}

@keyframes flowUp {
    0% {
        transform: translateY(400%);
        opacity: 0;
    }
    100% {
        transform: translateY(-300%);
        opacity: 1;
    }
}


.work {
    background-color: #6667AB;
    text-align: center;
}

.work-header {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

.background-images {
    z-index: -1;
    position: initial;
    display: gird;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10em;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    opacity: 0;
    align-items: center;
    justify-items: center;
    margin-top: 5em;
}

.work-img1 {
    height: 18.75em;
    width: 12.5em;
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    position: relative;
}

.work-img2 {
    height: 18.75;
    width: 10em;
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    position: relative;
}

.work-img1:hover {
    opacity: 1;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.work-img2:hover {
    opacity: 1;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.work:hover .background-images {
    opacity: 1;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.contact {
    background-color: #355C7D;
    border-right: black solid;
    text-align: center;
}

.contact-header {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}
